@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Archivo", sans-serif;
}

#header{
    background-color: #ffe9e8;
    padding: 70px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headline{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-img{
    margin-right: 15px;
}

.logo-title{
    font-size: 24px;
    font-weight: 550;
}

#headline_title{
    font-size: 40px;

    span{
        color: #CD3C32;
    }
}

#header_text{
    font-size: 24px;
}

.btn-default{
    background-color: #CD3C32;
    text-transform: uppercase;
    width: 40%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in;
}

.btn-default:hover{
    opacity: 0.9;
}

#timer{
    padding: 80px 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 40px;
}

#timer_title{
    font-size: 40px;
}

#timer_description{
    width: 36%;
    font-size: 20px;
}

#time{
    font-size: 64px;
    color: #CD3C32;
}

#content_cta{
    padding: 80px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cta{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 40px;
}

#cta_title{
    font-size: 40px;
}

#cta_description{
    font-size: 24px;
    font-weight: 400;
}

footer{
    background-color: #ffe9e8;
    padding: 20px 15%;
    display: flex;
    justify-content: space-between;
}

// RESPONSIVIDADE

@media screen and (max-width: 1200px) {
    #headline{
        width: 40%;

        
        h2{
            font-size: 1.8rem;
        }
        p{
            font-size: 1.2rem;
        }
        button{
            width: 180px;
        }
    }
    .logo-title{
        font-size: 1.1rem;
    }
    #header_img{
        width: 350px;
    }


    ///////////////////////////


    #timer{
        h2{
            font-size: 1.8rem;
        }
        p{
            font-size: 1.2rem;
        }
        h3{
            font-size: 3rem;
        }
    }


    ///////////////////////////


    #content_cta img{
        width: 300px;
    }
    #cta{
        width: 40%;

        h2{
            font-size: 1.8rem;
        }
        p{
            font-size: 1.2rem;
        }
        button{
            width: 180px;
        }
    }


    ///////////////////////////


    footer{
        #social_media{
            width: 40%;
        }
    }
}

@media screen and (max-width: 1000px) {
    #header{
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 70px 8%;
        gap: 126px;
    }
    #headline{
        width: 100%;
        align-items: center;
    }


    ///////////////////////////


    #timer{
       padding: 80px 8%;

       p{
        width: 100%;
       }

       img{
        width: 350px;
       }
       h3{
        font-size: 40px;
       }
    }


    ///////////////////////////


    #content_cta{
        flex-direction: column;
        padding: 80px 8%;
        gap: 48px;

        img{
            width: 350px;
        }
    }
    #cta{
        text-align: center;
        align-items: center;
        width: 100%;

        h2{
            width: 100%;
        }
    }


    ///////////////////////////
    

    footer{
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 32px;
        padding: 48px 8%;
    }
}

@media screen and (max-width: 500px) {
    #header_img, #timer img, #content_cta img{
        width: 250px;
    }
    #timer h2{
        font-size: 20px;
    }
    #timer p{
        font-size: 16px;
    }
    #timer h3{
        font-size: 30px;
    }
}